* {
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-lang {
  margin: 0 auto;
  text-align: center;
  padding: 8px 15px;
  background-color: #06635d;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
}
@media only screen and (max-width: 1200px) {
  .btn-lang {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .btn-lang-mobil {
    display: flex;
    padding: 8px 15px;
    background-color: #06635d;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
  }
}

.bd-header-border {
  border: none;
}
.bd-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-left: 20px;
}
.bd-slider-title {
  font-size: 64px;
}

/*.bd-slider-btn {*/
/*  margin-top: 80px;*/
/*}*/
/* Media Queries slider */
@media only screen and (max-width: 1350px) {
  .bd-slider-title {
    font-size: 48px;
  }
}
@media only screen and (max-width: 780px) {
  .bd-slider-title {
    font-size: 32px;
  }

  .bd-header-logo {
    margin-left: 0;
  }
  .bd-service-area {
    padding-top: 22px;
    padding-bottom: 10px;
  }

  .bd-about-shape-box {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .bd-team-area {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .bd-pricing-area {
    padding: 15px;
  }
  .bd-pricing-area .bd-section-title-wrapper {
    margin-bottom: 10px;
  }
  .bd-pricing-area .bd-section-title {
    margin: 0;
  }

  .bd-pricing-area .bd-slider-btn {
    margin: 0;
  }
  .bd-blog-area {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .bd-blog-area .bd-slider-btn {
    margin: 0;
  }

  .bd-contact-area {
    padding-bottom: 0;
  }

  .bd-footer-area {
    padding: 60px 0 20px 0;
  }

  .bd-page-title-area {
    padding: 50px 0 30px 0;
  }
}
@media only screen and (max-width: 480px) {
  .bd-slider-title {
    font-size: 24px;
  }
}

.bd-service:hover img {
  animation-name: wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
}

.bd-service-icon {
  width: 50px;
  height: 50px;
}
.bd-service-icon img {
  width: 100%;
}

.bd-service-title {
  transition: 0.3s;
}
.bd-service:hover .bd-service-title {
  color: var(--clr-theme-1);
}

.bd-team-four img {
  height: 500px;
  object-fit: cover;
}

.bd-portfolio::before {
  background: none;
}
.bd-team-four iframe {
  border-radius: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .bd-contact-area {
    padding: 50px 0;
  }

  .bd-map-area {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 990px) {
  .bd-contact-area-all {
    flex-direction: column-reverse;
  }
}

.form-select {
  width: 100%;
  height: 60px;
  background: var(--clr-bg-gray);
  border-radius: 10px;
}

.bd-contact-field input {
  color: #000;
}
.bd-footer-socila {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 50px;
}

.socila-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.socila-link div {
  width: 30px;
  height: 30px;
}
.social-link > div > img {
  width: 100%;
}

.bd-footer-cards {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  column-gap: 15px;
}
@media only screen and (max-width: 579px) {
  .bd-footer-all {
    flex-direction: column;
  }
}

.cards-link div {
  width: 80px;
  height: 80px;
}

.cards-link > div > img {
  width: 100%;
}

.bd-page-title-area {
  background: #06635d7a;
}

/* questions */

.questions {
  background-color: #06635d;
}
.questions-box {
  gap: 170px;
}

.questions-img {
  width: 200px;
  height: auto;
}
.questions-img img {
  width: 100%;
  border-radius: 50%;
}

.questions-input {
  max-width: 300px;
}

.questions-form {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

@media only screen and (max-width: 781px) {
  .questions {
    padding: 40px 0;
  }
  .questions-box {
    text-align: center;
    flex-direction: column;
    gap: 50px;
  }
  .questions-form {
    flex-direction: column;
  }

  .questions-input {
    max-width: 250px;
  }
}

/* .bd-page-title-bg {
  background-image: url("../img/about/about-img-1.1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

/* package section */
.bd-page-package {
  padding: 140px 0 100px;
  background-color: #06635d8c;
}

.package-btn {
  max-width: 150px;
  text-align: center;
  background-color: #e0b580;
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
}

.bd-package-title h1 {
  padding: 40px 0 20px;
  font-size: 72px;
  color: #fff;
}
.bd-package-title h5 {
  color: #fff;
}
.bd-page-package-price {
  margin-top: 30px;
}
.package-price-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #efefef;
  border-radius: 20px;
  padding: 20px;
  color: #000;
}
.price-date-title {
  color: #000;
}
.price-date-title span {
  font-weight: bold;
}

.package-price-info {
  display: flex;
  gap: 10px;
}

.price-info-title {
  padding: 30px 40px;
  border-radius: 20px;
  background-color: #06635d;
  color: #fff;
  text-align: center;
}

.bd-service-title-2 {
  font-size: 18px;
}
/* blog-details */

.ablog__text {
  padding: 0;
}

.details-min-title {
  color: #000;
  font-size: 24px;
  line-height: 35px;
}

.details-title-info {
  text-align: center;
  background-color: #06635d;
  color: #fff;
  padding: 10px 0;
  border-radius: 10px;
}

@media only screen and (max-width: 780px) {
  .bd-blog-deatils-area {
    padding: 50px 0;
  }
  .bd-blog-details-title {
    font-size: 32px;
  }
  .details-min-title {
    font-size: 18px;
    line-height: 28px;
  }

  .details-title-info {
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .bd-blog-details-title {
    font-size: 24px;
  }
  .details-min-title {
    font-size: 16px;
    line-height: 22px;
  }

  .details-title-info {
    font-size: 18px;
  }
}
/* About */
.about-area {
  background: url("../img/about/about-img-in.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: end;
}

.deatils-areas-1 {
  margin-bottom: 50px;
}

.gray-bg-about {
  background: #e6eeed;
}
.info-area-main {
  gap: 50px;
}
.bd-info-area-title {
  gap: 10px;
  margin-bottom: 8px;
}
.bd-info-area-title-img {
  width: 12px;
}
.bd-info-area-title-img img {
  width: 100%;
}
.bd-info-area-title h5 {
  margin: 0;
  white-space: nowrap;
}
@media only screen and (max-width: 780px) {
  .info-area-main {
    gap: 10px;
  }
  .deatils-areas-1 {
    margin-bottom: 10px;
  }
  .info-area-main {
    flex-wrap: wrap;
  }
  .bd-section-title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .deatils-areas-1 {
    margin-bottom: 0;
  }
  .bd-info-area-title h5 {
    white-space: wrap;
  }
  .bd-section-title {
    font-size: 20px;
  }
}
