/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-lang {
  margin: 0 auto;
  text-align: center;
  padding: 0px 22px;
}
@media only screen and (max-width: 1200px) {
  .btn-lang {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .btn-lang-mobil {
    width: 100%;
    display: flex;
    padding: 0px 22px;
  }
}

.bd-header-border {
  border: none;
}
.bd-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-left: 20px;
}
.bd-slider-title {
  font-size: 64px;
}

.bd-slider-btn {
  margin-top: 80px;
}
/* Media Queries slider */
@media only screen and (max-width: 1350px) {
  .bd-slider-title {
    font-size: 48px;
  }
}
@media only screen and (max-width: 780px) {
  .bd-slider-title {
    font-size: 32px;
  }

  .bd-header-logo {
    margin-left: 0;
  }
  .bd-service-area {
    padding-bottom: 10px;
  }

  .bd-about-shape-box {
    margin: 50px 0;
  }

  .bd-team-area {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .bd-pricing-area .bd-slider-btn {
    margin: 0;
  }
  .bd-blog-area {
    padding-bottom: 20px;
  }
  .bd-blog-area .bd-slider-btn {
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .bd-slider-title {
    font-size: 24px;
  }
}

.bd-service:hover img {
  animation-name: wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
}

.bd-service-icon {
  width: 50px;
  height: 50px;
}
.bd-service-icon img {
  width: 100%;
}

.bd-service-title {
  transition: 0.3s;
}
.bd-service:hover .bd-service-title {
  color: var(--clr-theme-1);
}

.bd-team-four img {
  height: 500px;
  object-fit: cover;
}

.bd-portfolio::before {
  background: none;
}
.bd-team-four iframe {
  border-radius: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .bd-contact-area {
    padding: 50px 0;
  }

  .bd-map-area {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 990px) {
  .bd-contact-area-all {
    flex-direction: column-reverse;
  }
}

.form-select {
  border: 1px solid rgba(128, 128, 128, 0.282);
  width: 100%;
  height: 60px;
  background: var(--clr-bg-gray);
  border-radius: 10px;
}
.bd-footer-socila {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 50px;
}

.socila-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.socila-link div {
  width: 30px;
  height: 30px;
}
.social-link > div > img {
  width: 100%;
}

.bd-footer-cards {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  column-gap: 15px;
}
@media only screen and (max-width: 579px) {
  .bd-footer-all {
    flex-direction: column;
  }
}

.cards-link div {
  width: 80px;
  height: 80px;
}

.cards-link > div > img {
  width: 100%;
}
